HISTORY
-@dates.each do |d|
  %br
  %table
    %thead
      %tr
        %th= "Item"
        %th= "Quantity Added"
        %th= "Quantity Subtracted"
        %th= "Start"
        %th= "End"
    %tbody
      -d.items.each do |k, v|
        %tr
          %td= k
          %td= v[0]
          %td= v[1]
          %td= v[2]
          %td= v[3]
    
 