%header{:class => "row header"}
  %div{:class => "col-2"}
    = link_to image_tag('back_btn.png', :class => "back_arrow"), root_path, :id => "back_btn"
  %div{:class => "col-8 header_padding"}
    %h1{:class => "header_text"}Store Item

%div{:class => "row error_message"}
  %div{:class => "col-12"}
    - if flash[:notice]
      %p{:class => "msg error"}= flash[:notice]

%section{:class => "row"}
  %div{:class => "box"}
    = form_tag store_item_path do
      %fieldset{:class => "field_text col-8"}
        = label :item, :ItemCode, 'ItemCode'
        = text_field :item, 'ItemCode', :value => params[:qr].to_s
    
      %fieldset{:class => "field_text col-8"}
        = label :item, :Quantity, 'Quantity'
        = text_field :item, 'Quantity'
      %fieldset{:class => "field_text col-8"}
        = submit_tag 'Store', :class => "btn_align"