%h1 Store Item
= form_tag store_item_path do
	= label :item, :ItemCode, 'ItemCode'
	= text_field :item, 'ItemCode'
	%br
	= label :item, :Quantity, 'Quantity'
	= text_field :item, 'Quantity'
	%br
	= submit_tag 'Store' 

= form_tag root_path, :method => :get  do
	= submit_tag 'Home'