%h1 Update Item Page
%h1 #{@item.Name}
%p previous quantity: #{@item.Quantity__c}

= form_tag update_quantity_path do

	= label :item, :Quantity__c, 'CorrectQuantity'
	= text_field :item, 'Quantity__c'
	= text_field :item, :id, :value => @item.Code__c, :type => "hidden"

	= submit_tag 'Update'