%div{:class => "strip"}
%header{:class => "row header"}
  %div{:class => "col-2"}
    = link_to image_tag('back_btn.png', :class => "back_arrow"), update_quantity_path, :id => "back_btn"
  %div{:class => "col-8 header_padding"}
    %h1{:class => "header_text"}Update Item

%div{:class => "box"}
  %div{:class => "row"}
    %div{:class => "col-12"}
      %h2{:class => "align_center"}
        %span{:class => "bold"}Item:
        #{@item.Name}
  
  %div{:class => "row"}
    %div{:class => "col-12"}
      %h2{:class => "align_center"} 
        %span{:class => "bold"}Previous Quantity:
        #{@item.Quantity__c}

  = form_tag update_quantity_path do
    %fieldset{:class => "field_text col-8"}
      = label :item, :Quantity__c, 'New Quantity', :class => "bold"
      = text_field :item, 'Quantity__c'
      = text_field :item, :id, :value => @item.Code__c , :type => "hidden"
    %fieldset{:class => "field_text col-8"}
      = submit_tag 'Update'