%h1 Update Item Page
%h1 @item.item
%p previous quantity: @item.quantity

= form_tag update_quantity_path do

	= label :item, :quantity, 'CorrectQuantity'
	= text_field :item, 'quantity'
	= text_field :item, :id, :value => flash[:code], :type => "hidden"

	= submit_tag 'Update'