%header{:class => "row header"}
  %div{:class => "col-12 header_padding"}
    %h1{:class => "header_text"} Index
%div{:class => "row error_message"}
  %div{:class => "col-12"}
    - if flash[:notice]
      %p{:class => "msg"}= flash[:notice]

%section{:class => "nav_box"}
  %div{:class => "row"}
    %div{:class => "col-6 grid_box nav_bar_horizontal_padding nav_bar_vertical_padding"}
      =link_to image_tag('scanner_store.png'), "#", :class => "img-responsive", :id => "Scanner Store"
      %label{:class => "icon_title"} Scanner Store
    %div{:class => "col-6 grid_box nav_bar_horizontal_padding"}
      = link_to image_tag( 'work_order.png'), work_order_home_path, :class => "img-responsive", :id => "Work Order"
      %label{:class => "icon_title"} Work Order
  %div{:class => "row"}
    %div{:class => "col-6 grid_box nav_bar_horizontal_padding nav_bar_vertical_padding"}
      = link_to image_tag( 'store_item.png'), store_item_path, :class => "img-responsive", :id => "Store Item"
      %label{:class => "icon_title"} Add Item
    %section{:class => "row"}
    %div{:class => "col-6 grid_box nav_bar_horizontal_padding"}
      = link_to image_tag( 'update_quantity.png'), update_quantity_path, :class => "img-responsive", :id => "Update Quantity"
      %label{:class => "icon_title"} Update Items
  %div{:class => "row"}
    = link_to "pic2shop://scan?callback=https://nameless-oasis-9470.herokuapp.com/store_item/EAN" do
      Store Item Using Scanner
= form_tag logout_path, :method => :get do
  %input{:type => "submit", :value => "Logout", :class => "btn_align"} 
