%header{:class => "row header"}
  %div{:class => "col-12 header_padding"}
    %h1{:class => "header_text"} Index
%p = @entry.Special_Instructions__c
%div{:class => "row error_message"}
  %div{:class => "col-12"}
    - if flash[:notice]
      %p{:class => "msg"}= flash[:notice]

%section{:class => "nav_box"}
  %div{:class => "row"}
    %div{:class => "col-6 grid_box nav_bar_horizontal_padding nav_bar_vertical_padding"}
      =link_to image_tag('scanner_store.png'), "#", :class => "img-responsive"
      %label{:class => "icon_title"} Scanner Store
    %div{:class => "col-6 grid_box nav_bar_horizontal_padding"}
      = link_to image_tag( 'work_order.png'), work_order_home_path, :class => "img-responsive"
      %label{:class => "icon_title"} Work Order
  %div{:class => "row"}
    %div{:class => "col-6 grid_box nav_bar_horizontal_padding nav_bar_vertical_padding"}
      = link_to image_tag( 'store_item.png'), store_item_path, :class => "img-responsive"
      %label{:class => "icon_title"} Add Item
    %div{:class => "col-6 grid_box nav_bar_horizontal_padding"}
      = link_to image_tag( 'update_quantity.png'), update_quantity_path, :class => "img-responsive"
      %label{:class => "icon_title"} Update Inventory

= form_tag logout_path, :method => :get do
  %input{:type => "submit", :value => "Logout", :class => "btn_align"} 