%div{:class => "strip"}
%header{:class => "row header"}
  %div{:class => "col-12 header_padding"}
    %h1{:class => "header_text"} Home
%div{:class => "row error_message"}
  %div{:class => "col-12"}
    - if flash[:notice]
      %p{:class => "msg"}= flash[:notice]


%section{:class => "nav_box"}
  %div{:class => "row"}
    %div{:class => "col-6 grid_box nav_bar_horizontal_padding nav_bar_vertical_padding"}
      =link_to image_tag('scanner_store.png'), "pic2shop://scan?callback=https://twcinventorytracker.herokuapp.com/store_item/", :id => "Scanner Store"
      %label{:class => "icon_title"} Scan Item
    %div{:class => "col-6 grid_box nav_bar_horizontal_padding"}
      = link_to image_tag( 'work_order.png'), work_order_home_path, :id => "Work Order"
      %label{:class => "icon_title"} Work Order
  %div{:class => "row"}
    %div{:class => "col-6 grid_box nav_bar_horizontal_padding nav_bar_vertical_padding"}
      = link_to image_tag( 'store_item.png'), store_item_path, :id => "Store Item"
      %label{:class => "icon_title"} Manually Add
    %div{:class => "col-6 grid_box nav_bar_horizontal_padding"}
      = link_to image_tag( 'update_quantity.png'), update_quantity_path, :id => "Update Quantity"
      %label{:class => "icon_title"} Update Items
  - if session[:admin]
    %div{:class => "row"}
      %div{:class => "col-6 grid_box nav_bar_horizontal_padding nav_bar_vertical_padding"}
        = link_to image_tag('analytics_icon1.png', :class => "padd_analytics"), analytics_path, :id => "Analytics"
        %label{:class => "icon_title"} Analytics
      %div{:class => "col-6 grid_box nav_bar_horizontal_padding"}
        = link_to image_tag('logout_icon.png'), logout_path, :id => "Logout"
        %label{:class => "icon_title"} Logout
  - else
    = form_tag logout_path, :method => :get do
      %input{:type => "submit", :value => "Logout", :class => "btn_align"} 
 
  