%header{:class => "row header"}
  %div{:class => "col-12 header_padding"}
    %h1{:class => "header_text"} Index

%div{:class => "row error_message"}
  %div{:class => "col-12"}
    - if flash[:notice]
      %p{:class => "msg"}= flash[:notice]

%section{:class => "nav_box"}
  %div{:class => "row"}
    %div{:class => "col-6 nav_bar_padding"}
      = link_to image_tag( 'scanner_store.png'), "#", :class => "center-block img-responsive"
      %label{:class => "label"} Scanner Store
    %div{:class => "col-6 nav_bar_padding"}
      = link_to image_tag( 'work_order.png'), work_order_home_path, :class => "center-block img-responsive"
      %label{:class => "label"} Work Order
  %div{:class => "row"}
    %div{:class => "col-6"}
      = link_to image_tag( 'store_item.png'), item_list_path, :class => "center-block img-responsive"
    %div{:class => "col-6"}
      = link_to image_tag( 'update_quantity.png'), update_quantity_path, :class => "center-block img-responsive" 