<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title> Login Page </title>
    </head>
    
    <body>
        <header>
            <h2> ThereWithCare</h2>
            <h2> Inventory Tracker</h2>
        </header>
    
    <section>
        <fieldset>
            <!--<form method = "post" action = "#">-->
            <%= form_for @person do |f| %>
                <%= f.label :first_name %>:
                <%= f.text_field :first_name %><br />

                <%= f.label :last_name %>:
                <%= f.text_field :last_name %><br />

                <%= f.submit %>
            <% end %>
                <!--<label>-->
                <!--    Username-->
                <!--    <input type = "text" placeholder = "Username" required id = "<%= username %>">-->
                    
                <!--</label>-->
                <!--<label>-->
                <!--    Password-->
                <!--    <input type = "password" placeholder = "Password" required id = "<%= password %>">-->
                <!--</label>-->
                <!--<input type = "submit" value = "Login" id = "login_button">-->
            <!--</form>-->
        </fieldset>
    </section>
    </body>
</html>