!!! 5
%html
  %head
    %title Confirmation page
    = stylesheet_link_tag 'confirmation'
    
  %body
    %header{:class => "header"}
      %h2 Are You Sure?
    // %section{:class => "row section"}
    //   %div{:class => "col-6"}
    //     %div{:class => "btn left"}
    //       = link_to 'Delivered', work_order_home_path
    //   %div{:class => "col-6"}
    //     %div{:class => "btn"} 
    //       = link_to 'Go Back', item_list_path
= form_tag deliver_path(@care_package.id__c), :method => :post do
  = submit_tag 'Delivered'
= form_tag item_list_path(params[:id]), :method => :get do
  = submit_tag 'Go Back'

