%header{:class => "row header"}
  %div{:class => "col-12 header_padding"}
    %h1{:class => "header_text"} Work Order Page

%div{:class => "row error_message"}
  %div{:class => "col-12"}
    - if flash[:notice]
      %p{:class => "msg error"}= flash[:notice]

%section{:class => "row"}
  %div{:class => "box"}
    = form_tag work_order_home_path do
      %fieldset{:class => "field_text col-8"}
        = label :work_order, :id__c, 'WorkOrderCode'
        = text_field :work_order, 'id__c'
      %fieldset{:class => "field_text button col-8"}
        = submit_tag 'Select Code'

%section{:class => "row"}
  %div{:class => "box"}
    = form_tag new_work_order_path do
      %fieldset{:class => "field_text button col-8"}
        = submit_tag 'New'

