!!! 5
%html
  %head
    %title Item List
    = stylesheet_link_tag 'item_list'

  %body
    %header{:class => "row"}
      %h2 Item Page
    %section
      %div{:class => "row"}
        %table#work_order{:border => "1"}
          %thead
            %tr
              %th Item
              %th Quantity
          %tbody
            - @list_details.each do |item|
              %tr
                %td= item.Program_Item__c
                %td
                  %input{type: "text", :value => item.Quantity__c}
                %td= link_to 'update', item_list_update_path({:pid => item.Id, :id => @entry.id__c}), :method => :post
                %td= link_to 'delete', item_list_delete_path({:pid => item.Id, :id => @entry.id__c}), :method => :delete
    = form_tag add_item_path, :method => :get do
      = submit_tag 'Add'
    = form_tag confirmation_path, :method => :get do
      = submit_tag 'Checkout'
    = form_tag work_order_home_path, :method => :get do
      = submit_tag 'Cancel'