%div{:class => "strip"}
%header{:class => "row header"}
  %div{:class => "col-2"}
    = link_to image_tag('back_btn.png', :class => "back_arrow"), work_order_home_path, :id => "back_btn"
  %div{:class => "col-8 header_padding"}
    %h1{:class => "header_text"}Item Page



%div{:class => "container"}
  %section{:class => "row"}
    %div{:class => "col-12"}
      %table#work_order
        %thead
          %tr
            %th{:class => "adjust_width"} Item
            %th{:class => "row"}
              %div{:class => "col-6"}
                Quantity
              %div{:class => "col-6"}
                Update  
            %th{:class => "adjust_width"} Delete
        %tbody
          //- counter = 0
          - @list_details.each do |item|
            %tr
              %td{:class => "item"}
                = item.Program_Item__c
                %p{:class => "hidden_quantity"}= item.Quantity__c
              %td
                = form_tag item_list_update_path, :method => :post do
                  = text_field :item, :newvalue, :value => item.Quantity__c,:class => "quantity"
                  = text_field :item, :pid, :value => item.Id, :type => "hidden"
                  = submit_tag 'Update', :class => "update_btn"
                %td= link_to image_tag('delete_button.png', 
                :class => "delete_img"), item_list_delete_path({:pid => item.Id, :id => @entry.id__c}), 
                :method => :delete

%p{:class => "special_instructions"}= @entry.Special_Instructions__c

%div{:class => "outer_box"}
  %div{:class => "btns left right"}
    = link_to image_tag('add_item.png', :class => "icon_btns"), add_item_path({:id => @entry.id__c}), :id => "Store Item"
    %label{:class => "icon_title"} Add
  
  %div{:class => "btns right"}
    = link_to image_tag('scanner_store.png', :class => "icon_btns"), "pic2shop://scan?callback=https://twcinventorytracker.herokuapp.com/item_list_add/" + @entry.id__c + "/", :id => "Scan"
    %label{:class => "icon_title"} Scan
  
  %div{:class => "btns"}
    = link_to image_tag('checkout.png', :class => "icon_btns"), confirmation_path(@entry.id__c), :id => "Checkout"
    %label{:class => "icon_title"} Checkout

%div{:class => "padding"}