<!DOCTYPE html>
<html>
<head>
  <title>TWCInventoryTracker</title>
  <!--<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>-->
  <%= stylesheet_link_tag "reset.css" %>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "positioning.css"%>
  <%= stylesheet_link_tag "table_design.css"%>
  <%= stylesheet_link_tag "mobile_positioning.css"%>
  <%= stylesheet_link_tag "analytics.css"%>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<!--<% if flash[:notice]%>-->
<!--	<p><%= flash[:notice]%></p>-->
<!--<% end %>-->

<%= yield %>
<%= javascript_include_tag 'events.js'%>
</body>
</html>
