<!DOCTYPE html>
<html>
<head>
  <title>TWCInventoryTracker</title>
  <!--<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>-->
  <%= stylesheet_link_tag "reset.css" %>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "positioning.css"%>
  <%= stylesheet_link_tag "table_design.css"%>
  <%= stylesheet_link_tag "image_positioning.css"%>
  <%= stylesheet_link_tag "analytics.css"%>
  <%= stylesheet_link_tag "mobile_positioning.css"%>
  
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


  <%= javascript_include_tag 'events.js'%>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body no-data-turbolinks>
<!--<% if flash[:notice]%>-->
<!--	<p><%= flash[:notice]%></p>-->
<!--<% end %>-->

<%= yield %>
</body>
</html>
